.sheet-container .sheet-tab-content {
    display: none;
}
input.sheet-tab-1:checked ~ div.sheet-tab-1,
input.sheet-tab-2:checked ~ div.sheet-tab-2 {
    display: grid;
}
input.sheet-tab {
    width: 150px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}
input.sheet-tab + span {
    border: solid 1px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    display: inline-block;

    background: #999;
    color: #555;
    width: 150px;
    height: 25px;
    font-size: 18px;
}
input.sheet-tab:checked + span {
    border-bottom-color: white;
    color: black;
    background: white;
}

.sheet-tab-1 {
        grid-template-columns: 2fr 6fr 3fr;
        grid-template-areas:
            "di ti mi"
            "st we mi"
            "st we gi"
            "wo we gi"
            "wo co gi"
            "th co li";
        grid-column-gap: 5px;
}
.sheet-container label {
    display: inline;
}
.sheet-container input[type=number] {
    width: 40px !important;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px 4px 10px 4px;
    font-size: 14pt;
    text-align: center;
    -moz-appearance: textfield
}
.sheet-container input[type=number]::-webkit-outer-spin-button,
.sheet-container input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sheet-container input[type=text] {
    height: 29px;
}
.sheet-d6 {
    font-family: dicefontd6;
    font-size: 16pt;
}
.sheet-title {
    grid-area: ti;
}
.sheet-dice {
    grid-area: di,
}
.sheet-storm {
    grid-area: st;
    min-width: 155px;
}
.sheet-might {
    grid-area: mi;
}
.sheet-wounds {
    grid-area: wo;
}
.sheet-thunder {
    grid-area: th;
}
.sheet-lightning {
    grid-area: li;
}
.sheet-weapons {
    grid-area: we;
}
.sheet-gathering-rage {
    grid-area: gr;
}
.sheet-corruption-and-forms {
    grid-area: co;
    display: grid;
    grid-template-columns: 100px 1fr;
}
.sheet-gifts {
    grid-area: gi;
    min-width: 330px;
}
.sheet-quick-ref {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: small;
}
.sheet-quick-ref h3 {
    margin: 0px;
    font-size: small;
}
.sheet-quick-ref p {
    margin: 0px;
}
.sheet-post-label, .sheet-pre-label {
    position: absolute;
    font-size: small;
    pointer-events: none;
}
.sheet-pre-label {
    left: 5px;
}
.sheet-post-label {
    right: 5px;
}
.sheet-container .sheet-box {
    display: inline-block;
    width: 30px;
    border: 1px solid black;
    text-align: center;
    padding: 5px 0px;
    margin: 2px 0px;
}
.sheet-container .sheet-dice button {
    font-family: dicefontd6;
    font-size: 2em;
    padding: 5px 5px;
    background-image: none;
    border-radius: 5px;
}
.sheet-container .sheet-dice button::before {
    content: none;
}
.sheet-dice button.sheet-mythic-dice {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(#FFF65C, #3A2C00);
    text-shadow: none;
}
.sheet-dice button.sheet-mythic-dice:hover {
    background-position: unset;
    background-image: linear-gradient(#FFF65C, #3A2C00);
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.sheet-weapon {
    display: grid;
    grid-template-columns: 1fr 200px;
}
.sheet-weapon-name {
    position: relative;
    min-width: 310px;
}
.sheet-weapon-name input[type=text] {
    width: 100%;
    padding-right: 105px;
}
.sheet-weapon-dice {
    width: 200px;
}
.sheet-weapon-dice > div {
    float: left;
    text-align: center;
    margin: 0px 4px;
}
.sheet-weapon-dice > div > label {
    display: block;
    padding-right: 0px;
}
.sheet-weapon .sheet-post-label {
    top: 10px;
}
.sheet-corruption-and-forms > * {
    grid-column: span 2;
}
.sheet-mortal-form {
    position: relative;
}
.sheet-mortal-form .sheet-pre-label {
    top: 20px;
}
.sheet-mortal-form input[type=text] {
    width: 100%;
    padding-left: 85px;
}
.sheet-personal-blight {
    position: relative;
}
.sheet-personal-blight input[type=text] {
    width: 100%;
    padding-right: 115px;
}
.sheet-personal-blight .sheet-post-label {
    top: 30px;
}
.sheet-corruption, .sheet-forms {
    grid-column: span 1;
}
.sheet-forms input[type=text] {
    width: 100%;
    padding-left: 85px;
}
.sheet-forms > div {
    width: 100%;
    position: relative;
}
.sheet-forms .sheet-pre-label {
    top: 20px;
}
.sheet-fate {
    width: 100%;
    position: relative;
}
.sheet-fate input[type=text] {
    width: 100%;
    padding-left: 150px;
}
.sheet-fate .sheet-pre-label {
    top: 20px;
}
.sheet-rolltemplate-storm,
.sheet-rolltemplate-thunder,
.sheet-rolltemplate-mythic {
    max-width: 300px;
    min-height: 150px;
    background: #12151e;
    background-repeat: no-repeat;
    color: white;
    margin-left: -45px;
    padding: 20px;
}
.sheet-rolltemplate-storm {
    background-image: url("https://raw.githubusercontent.com/unique-pear486/Mythender/master/img/storm.gif");
}
.sheet-rolltemplate-thunder {
    background-color: #2d2c2f;
    background-image: url("https://raw.githubusercontent.com/unique-pear486/Mythender/master/img/lightning.gif");
}
.sheet-rolltemplate-mythic {
    background-image: url("https://raw.githubusercontent.com/unique-pear486/Mythender/master/img/mythic.jpg");
}
.sheet-rolltemplate-title {
    font-size: 29px;
    font-weight: bold;
    text-align: left;
    font-family: "Contrail One";
    line-height: 2em;
}
.sheet-rolltemplate-dice .inlinerollresult,
.sheet-rolltemplate-bonus-dice .inlinerollresult {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: 2px;
    padding: 0px;
    text-align: center;
    line-height: 43px;
    font-size: 30px;
}
.sheet-rolltemplate-storm .sheet-rolltemplate-dice .inlinerollresult {
    background: black;
    color: white;
}
.sheet-rolltemplate-thunder .sheet-rolltemplate-dice .inlinerollresult {
    background: white;
    color: black;
}
.sheet-rolltemplate-bonus-dice .inlinerollresult {
    background: #880011;
    color: white;
}
.sheet-rolltemplate-mythic {
    width: 100%;
    text-align: center;
}
.sheet-rolltemplate-mythic .sheet-rolltemplate-dice {
    display: inline-block;
}
.sheet-rolltemplate-mythic .sheet-rolltemplate-dice .inlinerollresult {
    width: 100px;
    height: 100px;
    line-height: 110px;
    border-radius: 25px;
    font-size: 90px;
    background-image: linear-gradient(#FFF65C, #3A2C00);
    color: #201800;
    border: 4px solid #201800;
}
.sheet-tab-2 {
        grid-template-columns: 2fr 6fr 3fr;
        grid-template-areas:
            "di ti mi"
            "st we mi"
            "st we gi"
            "wo we gi"
            "wo gr gi"
            "th gr li";
        grid-column-gap: 5px;
}
.sheet-myth-description {
    width: calc(100% - 10px);
}
input.sheet-box {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    border-radius: unset;
}
.sheet-gathering-rage input[type=text] {
    width: 100%;
}
